/** Gloabl **/
:root { 
    /* Colors */
    --primary-color: #3c32a3;
    --light: #fff;
    --dark: #1d1d1d;
    --shadow: #1d1d1d38;

    /* Font */
    --light: 300;
    --Regular: 400;
    --bold: 600;

    --text-med: 0.875rem;
    --text-sm: 0.75rem;
    --text-lrge: ;
}

body { position: relative; padding: 0; margin: 0; background: var(--light); font-family: "Poppins", sans-serif; font-weight: var(--Regular); }

/** Containers **/
.container { display: flex; justify-content: space-between; padding: 12px 42px; align-items: center; width: 1600px; }

/** Images **/
.fav-icon { width: 16px; height: auto; }
img { max-width: 100%; }


/** Navbar **/
.logo { width: 90px; }
.header { display: flex; justify-content: center; width: 100%; }

.acc-icon { font-size: 32px; height: auto; color: var(--primary-color); cursor: pointer; }

/** Form Filter **/
.filter { border: solid 1px var(--shadow); border-radius: 50px; padding: 12px 22px; -webkit-box-shadow: 3px 5px 13px 0px rgba(0,0,0,0.04);
    -moz-box-shadow: 3px 5px 13px 0px rgba(0,0,0,0.04);
    box-shadow: 3px 5px 13px 0px rgba(0,0,0,0.04);}
.filter--fields { display: flex; justify-content: space-between; gap: 20px; }
.filter--input { display: flex; flex-direction: column; border-right: 1px solid var(--shadow); }
.filter--input label { border: none; font-size: var(--text-sm); font-weight: var(--light); }
.filter--input input { border: none; font-size: var(--text-md); font-weight: var(--Regular); }
.filter--input input:focus { border: none; }
.filter--btn { background-color: var(--primary-color); padding: 12px; border-radius: 100px; border: none; }
.filter--icon { font-size: 15px; color: #fff; cursor: pointer; }


/*** Media Queries ***/
@media only screen and (max-width: 880px) {
    .header { display: none; }
    
    /** Mobile Styles **/
    .mobile--header { display: flex; background-color: var(--primary-color); position: fixed; bottom: 0; right: 0; width: ;}
    .container { display: flex; justify-content: center; padding: 12px 42px; gap: 50px; align-items: center;  }
    .search--icon, .acc-icon { color: #fff; font-size: 32px; } 
  }